/*
<svg style="display: none;">
    <symbol id="play-icon" viewBox="0 0 50 50">
        <circle cx="25" cy="25" r="20" fill="#3498DB" />
        <path d="M18 15 L18 35 L32 25 Z" fill="white" />
    </symbol>
</svg>
*/
:root {
    --play-iconblue: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Ccircle cx='25' cy='25' r='20' fill='%233498DB' /%3E%3Cpath d='M18 15 L18 35 L32 25 Z' fill='white' /%3E%3C/svg%3E");
    --play-iconbig: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Ccircle cx='25' cy='25' r='20' fill='%23F2F2F2' /%3E%3Cpath d='M18 15 L18 35 L32 25 Z' fill='%231A1A1A' /%3E%3C/svg%3E");
    --play-icon_clean: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Ccircle cx='25' cy='25' r='20' fill='%23F0F0F0' /%3E%3Cpath d='M20 18 L20 32 L30 25 Z' fill='%231A1A1A' /%3E%3C/svg%3E");
    --play-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Ccircle cx='25' cy='25' r='20' fill='%23F2F2F2' stroke='%23BCBCBC' stroke-width='1' /%3E%3Cpath d='M20 18 L20 32 L30 25 Z' fill='%231A1A1A' /%3E%3C/svg%3E");

}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    background-image: url('img/bg2.jpg');
    background-position: top center;
    background-size: auto;
    /*
    margin: 0;
    padding: 20px;
    */
    color: #F2F2F2;
}

.specialImage {
    width: 200px;
    object-fit: cover;
    position: absolute;
    top: 0; /* Position it at the top of the page */
    left: 0%; /* Position it 10% from the left of the page */
    z-index: 100; /* Make it float on top of everything else */
}

header h1 {
    position: relative; 
    z-index: 110;
    overflow-wrap: break-word;
    margin: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
header {
    background-image: url('img/banner2.jpg');
    background-size: cover;
    background-position: bottom;
    background-color:  #2A4765;    
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 40px;
    margin-right: 0px;
}

footer {
    background-color: #2A4765;
    color: rgb(147, 238, 188);
    text-align: center;
    padding: 5px;
    margin: 10px;
    margin-right: 0px;
    width: 100%;
    box-sizing: border-box;
}

main {
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px, 1fr)); /*repeat(auto-fit, minmax(250px, 1fr)); */ 
    gap: 10px;
}

@media screen and (max-width: 580px) {
    main {
        margin: 10%;
      grid-template-columns: 1fr;
    }
  }

.item {    
    position: relative;
    width: 100%;
    max-width: 320px;
    min-width: 280px;
    min-height: 280px;
    max-height: 320px;    
    border: 1px solid #cac6af;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.item:hover {
    background-color: #00000083; /* Ljusare färg vid hover */
}

.item .titlebar {
    position: absolute;
    bottom: 20%;
    display: inline-block;
    margin-top: 0px;
    padding: 5px 10px 5px 5px;
    font-size: 1.2em;
    background-color: #a9afb6c2;
    color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 0px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.377);
    transition: all 0.3s ease;
    z-index: 4;
    transform: scaleX(1);
    transform-origin: left;
}
.item:hover .titlebar {
    background-color: #bbc1c9f5;
    box-shadow: 15px 3px 15px rgba(255, 255, 255, 0.35);
    bottom: 90%;
    /*transform: scaleX(0);*/

}

.item .boxart {
    width: 100%;
    background-image: var(--boxart-url);
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    /*background-image: url("../earthinvaders/boxart.jpg");*/
}


.item img {
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    position: relative;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    border: solid 1px #fafafa;
    border-radius: 10px 10px 0px 0px;
}
.item:hover img {
    opacity: 1;
}

.card {
    position: absolute;    
    opacity: 0;
    max-height: 0;
    width: 99%;
    overflow: hidden;
    background-color: var(--card-color);
    padding: 5px;
    margin: -3px;
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    transition: opacity 0.3s ease, max-height 0.8s ease;
    z-index: 1;
}

.item:hover .card {
/*    background-color:  #e97e7e;*/
    height: fit-content;
    max-height: 800px;
    opacity: 1;    
}

.play-button{
    background-image: var(--play-icon);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 5px;
    width: 64px;
    height: 64px;
    display: inline-block;
    margin-top: -20px;
    padding: 0px;
    justify-content: center;
    align-items: right;
    transition: all 0.1s ease; /* Add a transition effect for the background color */
}

.play-buttonOld {
    position: absolute;
    right: 20px;    
    width: fit-content;
    height: 25px;
    display: inline-block;
    border-radius: 25px;
/*
    background-color: #6abd5f;
    border: solid 1px #cfe2cc;
    */
    background-color: rgb(26, 129, 26);
    border: solid 3px #cfcfcf;
    margin-top: -10px;
    padding: 10px 8px 5px 8px;
    justify-content: center;
    align-items: right;
    color: rgb(216, 216, 216);
    font-weight: bold;
    transition: all 0.1s ease; /* Add a transition effect for the background color */
}

.item a {
    text-decoration: none; /* Ta bort standard understrykning för länkar */
    color: inherit; /* Ärva textfärg från föräldern */
    display: block; /* Göra hela rutan klickbar */
    height: 100%;
}
.play-button:hover {
   /* background-color: rgb(187, 226, 187); /* #b1eca6; green on mouse-over */
   /* color: rgb(52, 53, 51);*/
    transform: scale(1.5);
}

.item p {
/*    background-color: #00000090;*/
    text-align: left;
    padding: 5px;
    margin-left: 0px;
    font-size: 0.9em;
    color: #ffffff;
}

.item h2 {
/*    margin-top: -4px;*/
    margin: -4px -1px 0px -1px;
    padding: 5px;
    font-size: 1.2em;
    background-color: #d3d8dfd3;
    color: rgb(56, 55, 52);
    border: solid 1px #fafafa;
    border-radius: 0px 0px 8px 8px;
}